{{!-- header --}}
{{> title }}
{{!-- new workout --}}
<div class="row">
    <a class="btn btn-primary user-menu newWorkout" href="/workouts/new">New Workout</a>
</div>
{{!-- past workouts --}}
<div class="row">
    <a class="btn btn-primary user-menu" href="/workouts">Past Workouts</a>
</div>
{{!-- footer --}}
{{> footer }}
{{!-- js --}}
<script type="text/javascript" src="/home.bundle.js"></script>
<link rel="prefetch" href="/workouts">
<link rel="prefetch" href="/api/workouts">