{{!-- header --}}
{{> title }}
{{!-- new workout --}}
<div class="row">
    <a class="btn btn-primary user-menu newWorkout" href="/workouts/new">New Workout</a>
</div>
{{!-- past workouts --}}
<div class="row">
    <a class="btn btn-primary user-menu" href="/workouts">Past Workouts</a>
</div>
{{!-- footer --}}
{{> footer }}