{{!-- header --}}
<div class="row">
    <h1 id="title-workout">App Offline</h1>
    <h2 id="subtitle-workout">Reconnect to the internet and try again.</h2>
</div>
{{!-- footer --}}
{{> footer }}
{{!-- js --}}
<script type="text/javascript" src="/js/home.js"></script>