{{!-- header --}}
{{> title }}
{{!-- registration form --}}
<div class="row">
<form id="signupForm" class="center" action="/api/users" method="POST">
  {{!-- first name --}}
  <div class="form-group">
    <label for="firstName">First Name</label>
    <input type="text" class="form-control" id="firstName">
  </div>
  {{!-- last name --}}
  <div class="form-group">
    <label for="lastName">Last Name</label>
    <input type="text" class="form-control" id="lastName">
  </div>
  {{!-- display name --}}
  <div class="form-group">
    <label for="username">username</label>
    <input type="text" class="form-control" id="username">
  </div>
  {{!-- email --}}
  <div class="form-group">
    <label for="email">Email Address</label>
    <input type="email" class="form-control" id="email">
  </div>
  {{!-- password --}}
  <div class="form-group">
    <label for="password">Password</label>
    <input type="password" class="form-control" id="password">
  </div>
  <button type="button" id="signupButton" class="btn btn-primary">Sign Up</button>
</form>
</div>
{{!-- footer --}}
{{> footer }}
{{!-- javascript --}}
<script type="text/javascript" src="/js/signup.js"></script>