{{!-- header --}}
<div class="row">
    <h1 id="title-workout">Past Workouts</h1>
</div>
{{!-- back --}}
<div class="row">
    <a id="back" href="/">< Back</a>
</div>
<br>
{{!-- workouts --}}
<div class="row">
    <ul id="workouts" class="list">
    </ul>
</div>
{{!-- new button --}}
<div class="row">
    <a class="btn btn-primary user-menu" href="/workouts/new">New Workout</a>
</div>
{{!-- footer --}}
{{> footer }}
{{!-- javascript --}}
<script src="/js/workouts.js"></script>
