{{!-- header --}}
<div class="row">
    <h1 id="title-workout">Workout</h1>
</div>
{{!-- back --}}
<div class="row">
    <a id="back" href="/workouts/">< Back</a>
</div>
<br>
{{!-- workout info --}}
<div class="row">
    <ul id="workout-info" class="list">
    </ul>
</div>
{{!-- delete workout --}}
<div class="row">
    <a id="deleteWorkout" class="delete center" href="#">Delete Workout</a>
</div>
{{!-- footer --}}
{{> footer }}
{{!-- javascript --}}
<script src="/js/workout.js"></script>